@using CarsBiddingUsingBootstrap.Classes
@model CarOwnerDetails

<div><label class="column-name">Owner Name</label><span class="colon">:</span><label class="column-value">@Model.OwnerName</label></div>
<div><label class="column-name">Owner Phone Number</label><span class="colon">:</span><label class="column-value">@Model.OwnerPhoneNumber</label></div>
<div><label class="column-name">Owner Email</label><span class="colon">:</span><label class="column-value">@Model.OwnerEmail</label></div>

