@using CarsBiddingUsingBootstrap.Classes
@model CarWinnerDetails

<div><label class="column-name">Winner Name</label><span class="colon">:</span><label class="column-value">@Model.WinnerName</label></div>
<div><label class="column-name">Winner Phone Number</label><span class="colon">:</span><label class="column-value">@Model.WinnerPhoneNumber</label></div>
<div><label class="column-name">Winner Email</label><span class="colon">:</span><label class="column-value">@Model.WinnerEmail</label></div>

