h1.w3lslogo {
    font-size: 24px
}
h1.w3lslogo a{
    font-size: 1.1em;
    letter-spacing: 1px;
}
h1.w3lslogo a span {
    font-size: .5em;
}
.banner-text p {
    letter-spacing: 1px;
    width: 45%;
}